.cproject
.project
.settings
.gbs.conf
*.wgt
*.swp
*.tpk
*.exe
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.list
*.so
pkgconfigs/*.pc
src/Power/test/wrt-plugins-tizen-power_test

