<?xml version="1.0" ?>
<!DOCTYPE plugin-properties SYSTEM "/usr/etc/tizen-apis/config.dtd">
<plugin-properties>
    <library-name>libwrt-plugins-tizen-alarm.so</library-name>
    <feature-install-uri>alarm.install.uri</feature-install-uri>
    <api-feature>
        <name>http://tizen.org/privilege/alarm</name>
        <device-capability>alarm</device-capability>
    </api-feature>

</plugin-properties>
