<?xml version="1.0" ?>
<!DOCTYPE plugin-properties SYSTEM "/usr/etc/tizen-apis/config.dtd">
<plugin-properties>
    <library-name>libwrt-plugins-tizen-push.so</library-name>
    <feature-install-uri>push.install.uri</feature-install-uri>

    <api-feature>
        <name>http://tizen.org/privilege/push</name>
        <device-capability>push</device-capability>
    </api-feature>

</plugin-properties>
